body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px !important;
    background:#252525;
    background: radial-gradient(
      circle,
      #252525 0%,
      #252525 100%
    );
    letter-spacing: 0.5px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .albumName {
    font-size: 40px;
    color: white;
  }
  .btn {
    width: 100px;
  }
  .navbar-fixed-left {
    top: 0;
    width: 220px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background: rgb(20, 2, 14);
    background: linear-gradient(
      198deg,
      rgba(20, 2, 14, 1) 0%,
      rgba(12, 4, 2, 1) 100%
    );
    padding-left: 0;
    display: block !important;
    margin-left: 0;
  }

  #navbarNavDropdown .navbar-nav {
    display: flex !important;
    flex-direction: column;
  }
  .artist {
    font-size: 10px;
  }
  .coverWrapper {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #989898;
    font-size: 16px;
  }
  .duration:hover {
    text-decoration: none;
    color: rgb(165, 164, 164);
  }
  .play-div {
    width: 20px;
  }
  .play {
    transition: all ease 0.15s;
    color: rgb(165, 164, 164);
    display: none;
    font-size: 15px;
  }

  .songRow:hover {
    background-color: rgba(65, 64, 64, 0.658);
    transition: all ease 0.15s;
    padding: 3px 6px 3px 4px;
    border-radius: 5px;
  }
  .songRow:hover .play {
    display: block;
    transition: all ease 0.15s;
    color: rgb(165, 164, 164);
  }
  .songRow {
    padding: 3px 6px 3px 4px;
    transition: all ease 0.15s;
  }
  .songContainer a:hover {
    text-decoration: none !important;
    color: white;
  }
  .navbar {
    display: flex !important;
    flex-direction: column;
  }
  .musicIcon {
    color: #989898;
  }
  .navigation {
    color: darkgray;
    font-size: 20px;
    padding-left: 2px;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-collapse li a {
    color: #fff !important;
    font-size:16px!important;
  }
  .profile-nav {
    position: absolute;
    margin: auto;
    bottom: 73px;
    padding-right: 20px;
    width: 170px;
  }
  .albumCoverImg {
    box-shadow: 5px 5px 10px #2c2c2c8e;
  }
  .nav-profile-item {
    border-bottom: 1px solid rgb(165, 164, 164);
    font-size: 14px;
    color: rgb(165, 165, 165);
  }
  .middleRow {
    margin-left: 250px;
    position: absolute;
    top:0;
  }
  .nav-link {
    color: #989898 !important;
  }

  .spacer {
    height: 200%;
  }
  .nav:last-child {
    position: fixed;
    bottom: 40px;
  }
  .hamburger-button{
    display:none;
    width: 60px;
    height:60px;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
  }
  [type="button"] {
    border-radius: 17px;
    background-color: #1db954;
    color: whitesmoke;
    font-size: 12px;
    border-color: green;
  }
  [type="button"]:hover {
    border-radius: 17px;
    background-color: #189b46;
    color: whitesmoke !important;
    font-size: 12px;
    border-color: green;
    transition: all ease 0.7s;
  }
  .albumSong {
    font-size: 16px;
    color: white;
  }
  .duration1 {
    font-size: 13px;
    color: #989898;
    position: absolute;
    right: 0;
  }
  @media (max-width: 760px) {
    .navbar-fixed-left {
     margin-left: -220px;
    }
    .hamburger-button{
    display:block;
    width: 40px;
    height:40px;
    text-align: center;
    justify-content: center;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
    font-size: 15px;
    z-index: 20000;
  }
    .middleRow {
      margin-left: 0;
      padding: 0 30px;
    }
    .middleRow {
      margin-left: 0;
      padding: 0 30px;
    }
  }
  .fill {
    width: 0;
    height: 5px;
    background: #fff;
    border-radius: 50px;
  }
  .player {
    background-color: #2e2e2e;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .songTitle {
    font-size: 14px;
  }
  .singer {
    font-size: 11px;
    color: rgb(194, 194, 194);
  }

  .player-controls {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .slider {
    padding-top: 5px;
    display: flex;
  
  }
  #slider {
    width: 400px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
  }
  .third-col-player {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    color: rgb(194, 194, 194);
  }
  #slider-2 {
    width: 100px;
    height: 4px;
    background: #464545;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  @media (max-width: 760px) {
    .songs {
      margin-left: 0;
    }

    .song-div {
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .songs h3 {
      margin-left: 0 !important;
      text-align: center;
      padding: 0;
    }
  }
  @media (max-width: 998px) {
    .songs h3 {
      margin-left: 0 !important;
      text-align: center;
      padding: 0;
    }
    .song-row {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
    }

    .player {
      background-color: #2e2e2e;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 10px 0 0 0;
    }
    .songTitle {
      font-size: 14px;
    }
    .singer {
      font-size: 11px;
      color: rgb(194, 194, 194);
    }
    .fill {
      width: 0;
      height: 5px;
      background: #fff;
      border-radius: 50px;
    }
    .player-controls {
      font-size: 18px;
      margin-top: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .slider {
      padding-top: 5px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .player-div {
      margin-top: 20px;
    }
    #slider {
      width: 280px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
     
    }
    .third-col-player {
      display: none;
    }
    #slider-2 {
      width: 100px;
      height: 4px;
      background: #464545;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }


  .SongList{
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: #252525!important;
  }
  .listgroup{
    justify-content: space-between;
    background-color: #252525!important;
  }