.navbar-fixed-left {
    width: 220px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #000000 !important;
    padding-left: 0;
    display: block !important;
    margin-left: 0;
    top:0;
  }
  
  #navbarNavDropdown .navbar-nav {
    display: flex !important;
    flex-direction: column;
  }
  .hamburger-button{
    display:none;
    width: 60px;
    height:60px;
    background-color: #1db954;
    color: #fff;
    padding:10px;
    position: absolute;
    top: 30px;
    right:30px;
  }
  .navbar {
    display: flex !important;
    flex-direction: column;
  }
  .song-card-image {
    width: 193px;
  }
  .cards {
    margin-right: 33px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
  }
  .song-row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  
  
  
  .artist,
  .title {
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 15px;
    margin-top: 5px;
  }
  .artist {
    font-size: 12px;
    color: rgb(194, 194, 194);
  }
  .song-card-info {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
  }
  .songs h3 {
    text-align: left;
    margin-left: 55px;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-collapse li a {
    color: #fff !important;
  }
  .profile-nav {
    position: absolute;
    margin: auto;
    bottom: 73px;
    padding-right: 20px;
    width: 170px;
  }
  .nav-profile-item {
    border-bottom: 1px solid rgb(165, 164, 164);
    font-size: 14px;
    color: rgb(165, 165, 165);
  }
  hr {
    color: white !important;
    z-index: 100;
  }
  /*SIDE NAVBAR END*/