.deleteComment {
    background-color: transparent !important;
    border: 2px solid red !important;
    color: red !important;
    transition: .30s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.deleteComment:hover {
    background-color: red !important;
    border: 2px solid red !important;
    transition: .30s ease-in-out;
    color: #fff !important;
}

.list-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid rgba(12, 12, 12, 0.5);
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

#rate,
#comment {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color: grey;
    color: #fff!important;
}

.buttonModal {
    background-color: transparent;
    border-color: #1ed760;
    transition: .20s ease-in-out;

}

.buttonModal:hover,
.buttonModal:focus,
.buttonModal:active {
    border-color: #1ed760;
    background-color: #1ed760 !important;
    transition: .20s ease-in-out;
}
.badge{
    padding: 5px 10px;
    border-radius: 8%;
}